html * {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande' !important;
}

* {
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

p {
    color: #384e6e;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #5b7681;
    border-radius: 5px;
    z-index: 1;
}

.active, .share {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#confirmDelete:hover {
    background-color: red;
}

#cancelDelete:hover {
    background-color: #111;
}

.menuFloat{
    float:right;
    cursor:pointer;
}

body {
    background-image: url('bakgrunnsbilde1.jpg');
    background-color: #fff9f9;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 565px;

  }

.menu {
    float:top;
    width:100%;
    text-align:center;
    color:#ffffff;
    grid-column-start:1;
    grid-column-end:5;

}

.list {
    position: relative;
    text-align:left;
    background-color:white;
    color:#ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin:20px;
    border: 1px solid grey;
    border-radius: 5px;
    
}

.newList {
    text-align:left;
    background-color:#7995a0;
    color:#ffffff;
    margin:20px;
    padding: 20px;
    border-radius: 5px;

}

.list-button {
    background-color:transparent;
    color: black;
    position:absolute; 
    font-size:25px;
    top: 0; 
    right: 0; 
    margin-top:10px;
    margin-right:25px;
    border: none;
    cursor: pointer;
    max-height:15px;
    -webkit-user-select: none; 
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none;          
}

.task-button {
    background-color:transparent;
    color: black;
    position:absolute; 
    font-size:15px;
    top: 0;
    right: 0; 
    margin-top: 3px;
    margin-right:15px;
    border: none;
    cursor: pointer;
    max-height:25px;
    -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;     
  user-select: none;         
}


.fake-input {
    position:absolute;
    left:-5px;
    top:-5px;
    margin-top:15px;
    opacity: 0;
    cursor: pointer;
    width: 30px;
    height: 20px;
    background-color: black;
}

.fake-input[id^="taskButton-"] {
    position:absolute;
    left:-10px;
    top:-10px;
}
    

ul.listmenu {
    max-height: 0px;
    width: 120px;
    overflow: hidden;
    position:absolute;
    right:0;
    top:0;
    margin-top: 30px;
    font-size: 15px;
    background-color: #7c7c7c
}

ul[id^="taskMenu-"] {
    max-height: 0px;
    width: 120px;
    overflow: hidden;
    position:absolute;
    right:0;
    top:0;
    margin-top: 30px;
    font-size: 15px;
    background-color: #7c7c7c
}


div.deleteUserForm {
    max-height: 0px;
    width: 300px;
    overflow: hidden;
    position:absolute;
    right:108px;
    top:37px;
    margin-top: 30px;
    font-size: 20px;
    background-color: #636363;
    text-align:center;
    border-radius: 5px;
}


.fake-input:checked~.listmenu {
    max-height: 300px;
}


.fake-input:checked~[id^="taskMenu-"] {
    max-height: 300px;
}

.list-title {
    font-size:20px;
    margin-top: 30px;
    color: black;
    background: none;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 90%;
    padding: 10px 0px 10px 0px;
}

.list-item {
    position: relative;
    float:top;
    text-align:left;
    color:#ffffff;
    border-bottom: 1px solid grey;
    background:white;
    padding:5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}

.shared-list-item {
    position: relative;
    float:top;
    text-align:left;
    color:#ffffff;
    border-radius: 5px;
    background:#3f807a;
    padding:5px;
    border-Radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.list-item:hover{
    background-color: #e0e0e0;
}

.new-list-item{
    float:top;
    width: 100%;
    text-align:left;
    color: black;
    font-size: 15px;
    border-radius: 0px;
    border-style:none;
    border-bottom: 1px solid black;
    background: white;
    padding: 15px 0px 15px 0px;
    cursor: pointer;
    margin-bottom: 20px;
}

.new-list-item:hover{
    background:#e0e0e0;
}

.new-list{
    float:top;
    width: 100%;
    height: 50px;
    text-align:left;
    color:#ffffff;
    border-radius: 5px;
    border-style:none;
    background:#7995a0;
    cursor: pointer;
    font-size:20px;
    text-align: center;
}

input[id^="taskInput-"]{
    width:100%;
    float:top;
    background:white;
    border-radius: 5px;
    border-style:none;
    color:#747474;
    padding:5px;
    font-size: 15px;
    border: 1px solid grey;
}

.input-result {
    background: none;
    background-color: white;
    border:none;
    color: black;
    cursor:pointer;
    width:90%;
}

.new-list-input{
    width:100%;
    float:top;
    background:#ffffff;
    border-radius: 5px;
    border-style:none;
    color:#747474;
    padding:5px;
    font-size: 20px;
}

.submit{
    width:30%;
    float:left;
    background:#7e7e7e;
    border-radius: 5px;
    border-style:none;
    color:#ffffff;
    padding:5px;
    margin:10px 10px 20px 0px;
    cursor: pointer;
    text-align: center;
}

.confirm{
    width:30%;
    background:#7e7e7e;
    border-radius: 5px;
    border-style:none;
    color:#ffffff;
    padding:5px;
    margin:10px 10px 20px 0px;
    cursor: pointer;
    text-align: center;
}


div[id^="taskForm-"]{
    display: none;
    margin-top: 0px;
    margin-bottom: 50px;
}

#formButton {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #afadad;
}

#form_add_list{
    display: none;
}

#form_show_btn_add_list {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width:1000px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
    }
}

@media only screen and (max-width:620px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .menu ul {
        display:grid;
        grid-template-columns: repeat(2, 2fr);
    }
    .share{
        float:right;
    }
    #logout{
        float:left;
    }
}