
      html *{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande' !important;
      }
      
      * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
      }
  
      body {
        background-image: url('bakgrunnsbilde0.jpg');
        background-color: #fef3f1;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 600px;
      }
  
  
      input{
        width:100%;
        background:#fffeff;
        border-radius: 5px;
        border-style:none;
        color:#707070;
        padding:5px;
        margin-top:5px;
        margin-bottom:10px;
      }
  
      h1{
        color:black;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
        font-size: 40px;
      }

      p {
        color: black;
      }
  
      .login-page{
        width: 100%;
      }
  
      .login{
        width:360px;
        height:580px;
        margin:auto;
        margin-top: 50px;
        background-color:white;
        color:#ffffff;
        padding: 80px 40px;
        border-radius: 10px;
        display:block;
        
      }

      .username {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0px;
        padding: 10px 0px 10px 0px;
      }

      .password {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0px;
        padding: 10px 0px 10px 0px;
      }
  
      .register{
        width:360px;
        height:680px;
        margin:auto;
        margin-top: 50px;
        background-color:white;
        color:#ffffff;
        padding: 80px 40px;
        border-radius: 10px;
        display:none;
      }

      .email {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0px;
        padding: 10px 0px 10px 0px;
      }

      .confirm-password {
        border: none;
        border-bottom: 1px solid black;
        border-radius: 0px;
        padding: 10px 0px 10px 0px;
      }
  
      .submit{
        width:30%;
        min-width: 60px; 
        float:left;
        background:#7e7e7e;
        border-radius: 5px;
        border-style:none;
        color:#ffffff;
        padding:5px;
        margin:10px 10px 20px 0px;
        cursor: pointer;
        text-align:center;
      }
  
        @media only screen and (max-width:620px) {
        /* For mobile phones: */
        .login {
          width:calc(50% - 10px);
        }
      }
